[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Akilimo springboot api
[access "refs/*"]
	owner = group user/Sammy M (masgeek)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sammy M (masgeek)
	label-Verified = -1..+1 group user/Sammy M (masgeek)
	push = group user/Sammy M (masgeek)
	read = group user/Sammy M (masgeek)
	rebase = group user/Sammy M (masgeek)
	removeReviewer = group user/Sammy M (masgeek)
	submit = group user/Sammy M (masgeek)
[access "refs/heads/*"]
	create = group user/Sammy M (masgeek)
	push = +force group user/Sammy M (masgeek)
	pushMerge = group user/Sammy M (masgeek)
	read = group user/Sammy M (masgeek)
[access "refs/tags/*"]
	push = group user/Sammy M (masgeek)
	push = +force group user/Sammy M (masgeek)
